@import './addition/mixin';

.container {
  width: 1140px;
  margin: 0 auto;
}

.promo {
  position: relative;
  padding-top: 205px;
  min-height: 100vh;
  background: url('../img/background/main_background.jpg') no-repeat 50% / cover;
}

.title {
  margin-top: 14px;
  font-size: var(--title_fz50-size);
  font-weight: var(--title_fz50-weight);
  line-height: var(--title-height);
}

.subTitle {
  position: relative;
  padding: 2px 0 0 4px;
  font-weight: var(--title-weight);
  font-size: var(--title_fz16-size);
  line-height: var(--title_fz16-height);
  z-index: 1;
  @include before_circle;
  &::before {
    top: -18%;
    left: -8px;
  }
}

.btnWrapper {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btnLinkColored {
  color: var(--black-color);
  font-weight: var(--title-weight);
  @include buttonColored;
  @include hover_effect;
}

.btnLink {
  margin-left: 15px;
  padding: 12px 25px;
  color: var(--black-color);
  font-weight: vat(--title-weight);
  transition: none;
  box-shadow: none;
}

// ! Start @media

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .title {
    margin-top: 24px;
    width: 300px;
    line-height: var(--title_fz50-height);
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .promo {
    background: url('../img/background/main_background.jpg') no-repeat 57% / cover;
  }

  .btnWrapper {
    margin-top: 30px;
  }
}
