:root {
  --main-color: #ffa501;
  --black-color: #000;

  // Title
  --title-size: 36px;
  --title-weight: 700;
  --title-height: 60px;

  --title_fz14-size: 14px;
  --title_fz14-height: 21px;

  --title_fz16-size: 16px;
  --title_fz16-height: 24px;

  --title_fz36-size: 36px;

  --title_fz50-size: 50px;
  --title_fz50-weight: 900;
  --title_fz50-height: 50px;
}
